= javascript_include_tag "rails_admin_advanced_json_editor/rails_admin_advanced_json_editor", media: 'all'

#advanced-json-editor
  = form.send field.view_helper, field.method_name, field.html_attributes

#advanced-json-editor-form